* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    color: black;
    font-family: helvetica, sans-serif;
}

nav {
    display: flex;
    height: 6vh;
    width: 100vw;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #ddd3ee;  
}

nav a {
    color: black;
    text-decoration: none;
}

nav > div:first-child {
    margin-right: auto;
    margin-left: 25px;
    font-size: 28px;
    display: block;
  }

.phone {
    display: none;
    margin-right: auto;
    margin-left: 25px;
    font-size: 28px;
  } 

nav > div:last-child {
    margin-right: 25px;
  }

nav > div {
    font-size: 16px;
    margin: 15px;
    font-family: 'Inconsolata', monospace;
}

nav a:hover {
    color: purple;
}

h1 {
    text-align: center;
    font-size: 65px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 25px;
    color: rgb(200, 1, 1);
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Inconsolata', monospace;  
}

h3 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Inconsolata', monospace;
}

 p {
    font-family: 'Inconsolata', monospace;
 }

/* Contact form */
#contact {
    height: 70vh;
    margin-bottom: 50px;
}

.banner {
    text-align: center;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 19px;
}

/* Contact form styles */
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}

.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

/* Modal */
#modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 10px;
    margin: 150px auto;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
}

.modal-buttons {
    padding: 8px 16px;
    background-color: lightgray;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
	cursor: pointer;
    border-radius: 100%;
}

body {
    height: 100vh;
    margin: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: helvetica, sans-serif;
}

header {
    text-align: right; 
}

/* Game */
#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 1vmin;
    /*margin-top: -3vmin;*/
    background-color: blue;
    border: 10px solid navy; 
}

#play {
    padding: 5px 18px;
    border-radius: 5px;
    margin-top: 25px;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
}

.cell {
    background-color: white;
    border-radius: 100%;
    margin: 5px;
    border: 5px solid navy;
}

@media (max-width: 600px) {
    html {
        align-items: center; 
    }
   
    nav > div:first-child {
        display: none;
    }
    .phone {
        display: block;
    }
    .banner {
        display: none;
    } 
    h1 {
        margin-top: 80px;
    }
}

/*.cell:hover {
    background-color: lightblue;
}

/*.playerOne {
    background-color: red;
}

.playerTwo {
    background-color: yellow;
}*/




